body{
    margin: 0;
    padding: 0;
    background:url(logg.jpg);
    background-size: cover;
}
.box{
    width: 450px;
    background:#6b5858;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: #fff;
    font-family: sans-serif;

}
.box img{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
}
.box img:hover{
   transform: scale(0.9);
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
}
.box p{
    text-align: justify;
}
ul{
 margin: 0;
 padding: 0;   
}
.box li{
    display: inline-block;
    list-style:none;
    margin: 6px;
}
.box li a{
    color: white;
    font-size: 40px;
    transition:all ease-in-out 250ms ;
}

.box li a:hover{
    color: #54d4ff;
}